#contactus-container {
    padding: 0;
    margin-bottom: 40px;
}

.contactus-from-group {
    margin-bottom: 10px;
}

#contactImage-container {
    background: black;
}

#contactImage{
    opacity: 0.7;
    object-fit: cover;
    width: 100%;
}

#contactus-form-container {
    margin-top: 20px;
   max-width:50%;

}

#contactus-form {
    margin-top: 20px;
}

.contactus-form-sbm-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #a3b93b;
    width: 140px;
    height: 60px;
    border: 0;
    border-radius: 0;
    font-weight: bold;

}

.contactus-form-sbm-btn:focus {
    background-color: #a3b93b;
}

.contactus-form-sbm-btn:hover {
    background-color: #758a10;
}

.contactus-form-sbm-btn:disabled {
    background-color: grey;
}


/* .processing-contactus-form-sbm-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
    width: 140px;
    height: 60px;
    border: 0;
    border-radius: 0;
    font-weight: bold;
}
.processing-contactus-form-sbm-btn:hover {
    background-color: grey;
} */

.contactus-form-message {
    color: red;
}
